static/latex-codes/**/*.log
static/latex-codes/**/*.4ct
static/latex-codes/**/*.4tc
static/latex-codes/**/*.aux
static/latex-codes/**/*.dvi
static/latex-codes/**/*.idv
static/latex-codes/**/*.lg
static/latex-codes/**/*.tmp
static/latex-codes/**/*.xref
static/latex-codes/**/*.4o
static/latex-codes/**/*.4s
static/latex-codes/**/*.tmp
static/latex-codes/**/*.xref
static/latex-codes/**/*.acn
static/latex-codes/**/*.acr
static/latex-codes/**/*.cfg
static/latex-codes/**/*.out
static/latex-codes/**/*.pdf

