content/latex-codes/**/*.log
content/latex-codes/**/*.4ct
content/latex-codes/**/*.4tc
content/latex-codes/**/*.aux
content/latex-codes/**/*.dvi
content/latex-codes/**/*.idv
content/latex-codes/**/*.lg
content/latex-codes/**/*.tmp
content/latex-codes/**/*.xref
content/latex-codes/**/*.4o
content/latex-codes/**/*.4s
content/latex-codes/**/*.tmp
content/latex-codes/**/*.xref
content/latex-codes/**/*.acn
content/latex-codes/**/*.acr
content/latex-codes/**/*.cfg
content/latex-codes/**/*.out
content/latex-codes/**/*.pdf
content/latex-codes/**/*.tex 

