latex-codes/**/*.log
latex-codes/**/*.4ct
latex-codes/**/*.4tc
latex-codes/**/*.aux
latex-codes/**/*.dvi
latex-codes/**/*.idv
latex-codes/**/*.lg
latex-codes/**/*.tmp
latex-codes/**/*.xref
latex-codes/**/*.4o
latex-codes/**/*.4s
latex-codes/**/*.tmp
latex-codes/**/*.xref
latex-codes/**/*.acn
latex-codes/**/*.acr
latex-codes/**/*.cfg
latex-codes/**/*.out
latex-codes/**/*.pdf
latex-codes/**/*.tex 

