{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  <div class="my-auto">
  	<div class="mb-3 d-flex flex-row justify-content-between">
    	<h2 class="mb-0"><span class="text-primary">{{ .Title }}</span></h2>
    	<span class="">{{ .Date.Format "January 2, 2006" }}</span>
    </div>
    <div>
		{{ if .Params.has_iframe }}
		<script>
			function resizeIframe(obj) {
			  function updateHeight() {
				obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
			  }
		  
			  updateHeight(); // Set initial height
			  setInterval(updateHeight, 1000); // Update height every 5000ms
			}
		  </script>
		  
		  <iframe src="{{ .Params.iframe_link}}" 
				  width="100%" onload="resizeIframe(this)" style="border: none;"></iframe>
		{{ else }}
    	{{ .Content }}
	    {{ with .Params.link }}
	    	<p>Project link: <a href="{{ . }}">{{ . }}</a></p>{{ end }}
		{{ end }}
	</div>
    <div>
    	{{ with $.Page.Resources.GetMatch "gpx" }}
		    <a href="{{ .Permalink }}" title="Click to download gpx file">GPX file</a>
		{{ end }}
    </div>
    {{ partial "advtags" . }}
  </div>
</section>
{{ end }}
