<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
    <div class="my-auto" id="awards">
    <h2 class="mb-5">{{ "awards" }}</h2>
        <p>Less relevant awards have been omitted.</p>
      {{ range $.Data.awards }}
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">{{ .award }}</h3>
              <!--<div class="subheading mb-3">{{ .competition | markdownify }}</div>-->
              {{ if ne .summary ""}}
              <p>{{ .summary | markdownify }}</p>
              {{ end }}
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">{{ .date }}</span>
            </div>
          </div>
      {{ end }}
    </div>
  
  </section>
  